body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn-fav {
  width: 30px;
  height: 30px;
  background: rgb(56, 66, 94);
}

.btn-fav.active {
  background: gold;
}

.card-group {
  justify-content: center !important;
}

.card {
  /* width: 90% !important; */
  width: 90% !important;
  max-width: 350px !important;
  flex: unset !important;
  /* min-width: 400px !important; */
  margin: 2rem;
}
